<extend name="Public/base" />

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <include file="Public/header" />
            <include file="Public/menu" />
        </nav>

        <div id="page-wrapper" style="min-height: 308px;">
           
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <block name="title">这是标题</block>
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <block name="content">这里是网站的主要内容</block>
        </div>
    </div>
</body>