<extend name="Public/base" />
<block name="title">价格参数列表</block>
<block name="content">
	<div class="row">
		<form method="post" action="{:U('Parameter/index')}">
			<div class="col-md-3">
				<div class="form-group">
					参数名称:
					<input style="width:70%;display:inline;" class="form-control" type="text" name="caption" id="caption" value="{:isset($_GET['caption'])?$_GET['caption']:'';}"></div>
			</div>
			<div class="col-md-3 col-md-offset-6" >
				<div class="form-group">
					<button type="submit" class="btn btn-primary" style="margin-right:30px;"> <i class="fa fa-search"></i>
						查询
					</button>
					<button type="reset" class="btn btn-primary"> <i class="fa fa-repeat"></i>
						重置
					</button>

				</div>
			</div>
		</form>
	</div>
	<div class="row">
		<!-- /.panel-heading -->
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">参数列表</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>编号</th>
									<th>参数</th>
									<th>名称</th>
									<th>参数值</th>
									<th>参数单位</th>
									<th>描述</th>
									<th>修改时间</th>
									<th class="text-center">操作</th>
								</tr>
							</thead>
							<tbody>
								<volist name="lists" id="vo">
									<tr>
										<td>{$vo['id']}</td>
										<td>{$vo['var_name']}</td>
										<td>{$vo['caption']}</td>
										<td>{$vo['var_value']}</td>
										<td>{$vo['unit']}</td>
										<td>{$vo['description']}</td>
										<td>{:date('Y-m-d H:i:s',$vo['add_time'])}</td>
										<td align="center">
											<a href="#" data-toggle="modal" data-target="#ParameterEditModal" 
								data-id="{$vo['id']}"
								data-variable="{$vo['var_name']}"
								data-value="{$vo['var_value']}" 
								data-desc="{$vo['description']}"
								data-unit="{$vo['unit']}"
								data-name="{$vo['caption']}">修改</a>
										</td>
									</tr>
								</volist>
							</tbody>
						</table>
						<if condition="empty($lists)">
							<div style="text-align:center;">抱歉，暂时没有您要找的内容</div>
						</if>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 分页内容 -->
	<div class="col-md-12">{$show}</div>
	</div>
	<!-- 模态框（Modal） 编辑系统参数-->
	<div class="modal fade" id="ParameterEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<form method="post" action="{:U('Parameter/edit')}">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="txtCaption"></h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>参数：</label>
							<label id="lbVar"></label>
						</div>
						<div class="form-group">
							<label>名称：</label>
							<label id="lbName"></label>
						</div>						
						<div class="form-group">
							<label>数值：</label>
							<input type="text" size="10" id="txtValue" name="txtValue">
							<label id="lbUnit"></label>
						</div>
                        <div class="form-group" >
                            <label>简介：</label>
                            <textarea  rows="3" cols="45" style="vertical-align:top;resize: none;" name="txtDesc" id="txtDesc"></textarea>
                        </div>
						                       						
						<div class="modal-footer">
							<input  type="hidden" name="id" id="id">
							<input  type="hidden" name="vars" id="vars">
							
							<button type="submit" class="btn btn-primary">确定</button>
							<button type="button" class="btn btn-default" data-dismiss="modal" >取消</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
			</form>
		</div>
		<!-- /.modal -->

	</block>