<extend name="Public/base" />
<block name="title">添加车辆</block>
<block name="content">
	<div class="row">
		<div class="col-md-6">
			<form action="{:U('Car/do_add_car')}" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<label>选择品牌</label>
					<select class="form-control" name="brand_id" id='car_brand'>
						<option value=''>--请选择--</option>
						<volist name="brand" id="vo">
						<option value="{$vo['id']}">{$vo['name']}</option>
						</volist>

					</select>
				</div>
				<br />
				<div class="form-group">
					<label>选择型号(请先选择品牌)</label>
					<select class="form-control" name="model_id" id='car_model'>
						<option value=''>--请选择--</option>

					</select>
				</div>
				<br />
				<div class="form-group">
					<label>选择站点</label>
					<select class="form-control" name="station_id">
						<option value=''>--请选择--</option>
						<volist name="station" id="vo">
						<option value="{$vo['id']}">{$vo['name']}</option>
						</volist>

					</select>
				</div>
				<br />
				<div class="form-group">
					<label>车牌号</label>
					<input class="form-control" name="plate">
					<p class="help-block">请输入车牌号</p>
				</div>

				<div class="form-group">
					<label>价格</label>
					<input class="form-control" name="price">
					<p class="help-block">请输入车辆出租价格(每小时)</p>
				</div>
				
				<div class="form-group">
					<label>乘坐人数</label>
					<input class="form-control" name="capacity">
					<p class="help-block">请输入车辆乘坐人数</p>
				</div>

				<button type="submit" class="btn btn-primary btn-lg btn-block">提交</button>
				<button type="reset" class="btn btn-outline btn-primary btn-lg btn-block">重置</button>
			</form>
		</div>
	</div>
</block>