<extend name="Public/base" />
<block name="title">修改密码</block>
<block name="content">
	<div class="row">
		<div class="col-md-6">
		<form method="post" action="{:U('AdminUser/modifyPwd')}">
			<div class="panel-body">
				<div class="form-group">
					<label>账号：{$_SESSION['admininfo']['nickname']}</label>
				</div>
				<div class="form-group">
					<label>原密码：</label>
					<input type="password" id="txtOldPwd" name="txtOldPwd" class="form-control">
				</div>
				<div class="form-group">
					<label>新密码：</label>
					<input type="password" id="txtPwd" name="txtPwd" class="form-control">
				</div>			
				<div class="form-group">
					<label>确认密码：</label>
					<input type="password" id="txtPwdConfirm" name="txtPwdConfirm" class="form-control">
				</div>
				<!--接收session变量用户ID  -->
				<input type="hidden" id="txtID" name="txtID" value="{$ID}" class="form-control">
				<br/>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-lg btn-block">
						确定
					</button>
					<button type="reset" class="btn btn-outline btn-primary btn-lg btn-block" >
						重置
					</button> 
				</div>
			</div>
		</form>
		</div>
	</div>
</block>