<extend name="Public/base" />
<block name="title">长租业务办理</block>
<block name="content">
	<div class="row">
		<form action="{:U('Business/long_rent')}" method="post">
			<div class="col-md-12">
				<div class="alert alert-info">
					办理者用户名:{$userinfo['name']}
	            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                办理者手机号码:{$userinfo['phone']}
	                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<span style='color:red'>请仔细核对用户信息!</span>

				</div>
			</div>

			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">站点选择</div>
					<div class="panel-body">
						<div class="col-md-3">
							<div class="form-group">
								<label>省</label>
								<select class="form-control" name="province" id="prov">
									<option value="">--请选择--</option>
									<volist name="data" id="vo">
										<option value="{$vo['province']}">{$vo['province']}</option>
									</volist>

								</select>
							</div>
						</div>

						<div class="col-md-3">
							<div class="form-group">
								<label>市</label>
								<select class="form-control" name="city" id="cit">
									<option value="">--请选择--</option>
								</select>
							</div>
						</div>

						<div class="col-md-3">
							<div class="form-group">
								<label>区/县</label>
								<select class="form-control" name="county" id='coun'>
									<option value="">--请选择--</option>
								</select>
							</div>
						</div>

						<div class="col-md-3">
							<div class="form-group">
								<label>站点</label>
								<select class="form-control" name="station" id='station'>
									<option value="">--请选择--</option>
								</select>
							</div>
						</div>

					</div>
					<div class="panel-footer">
						请选择完整站点信息后再选择站点中的车辆
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="panel panel-green">
                    <div class="panel-heading">
                        车辆选择
                    </div>
                    <div class="panel-body">
                        <div class="col-md-4">
							<div class="form-group">
								<label>车辆信息</label>
								<select class="form-control" name="car_id" id='car_id'>
									<option value="">--请选择--</option>
								</select>
							</div>
						</div>

						<div class="col-md-8">
							<label>出租信息</label>
							<div class="col-md-12" id="car_rent">
							</div>
						</div>
                    </div>
                    <div class="panel-footer">
                        选择本站点的车辆
                    </div>
                </div>
			</div>

			<div class="col-md-12">
				<div class="panel panel-yellow">
                    <div class="panel-heading">
                        时间选择
                    </div>
                    <div class="panel-body">
                        <div class="col-md-10">
							租车时间：<input style="display:inline;width:35%;height:34px;" placeholder="请选择日期" class="laydate-icon form-control" name="start_time"  onclick="laydate()"> 至 <input placeholder="请选择日期" class="laydate-icon form-control" name="end_time"  onclick="laydate()" style="display:inline;width:35%;height:34px;">
						</div>
                    </div>
                    <div class="panel-footer">
                        选择出租的时间
                    </div>
                </div>

			</div>
			<div class="col-md-12">
				<div class="panel panel-red">
                    <div class="panel-heading">
                        长租价格价格
                    </div>
                    <div class="panel-body">
                        <div class="col-md-3">
                        	<div class="form-group">
                                <input class="form-control" name='price' type="text" >
                                <p class="help-block">单位:元</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                        	<div class="form-group">
                                <button id='reckon_price' type="button" class="btn btn-primary btn-block" style="width:50%">计算价格</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                       日期更改后请重新点击获取新价格
                    </div>
                </div>

			</div>

			<div class="col-md-6">
				<input type="hidden" name="user_id" value="{$_GET['uid']}">
				<input type="hidden" name="plate" value="" id="plate">
                <p class="help-block" style="color:orange;">请务必选择和输入完整信息，否则无法添加</p>
				<button type="submit" class="btn btn-primary btn-lg btn-block">提交</button>
				<button type="reset" class="btn btn-outline btn-primary btn-lg btn-block">重置</button>
			</div>

		</form>
	</div>
</block>